/* CSS Formatting Document */

/* Overall Page Formatting */
body {
	color: #000000;
	background-color: #FFFFFF;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	border: #2aa93b dashed thin;
	margin: 15px;

}

p{
    padding:.5em;
}

ul {
	padding-left: 1.5em;
	padding-bottom: .5em;
}


a {
	color: blue;
}

a:visited {
	color: purple;
}	

a:hover {
	color: lightblue;
}

/* Header Formatting */
header {
height: 150px;
/*padding-left: 250px;*/
padding-top: 10px;
margin-left: 10px;
margin-top: 10px;
}
header h1, h2{
	font-family: garamond, serif;
    text-align: center;
}
header h1{
	font-size: 2em;
	font-weight: bold;
} 
header h2{
	font-size: 1.6em;
	font-weight: italic;
} 
/* Navigation Formatting */
nav {
	font-family: gil sans, arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}
nav li {
	display: inline;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 1em;
	padding-right: 1em;
	border-right-color: rgb(6, 167, 99);
	border-right-style: solid;
	border-right-style: thin;
}
nav li:last-child {
	border-right: none;
}
/* Main Section Formatting */
main {
	padding: 20px;
	background-image: url();
	background-position: center right;
	background-repeat: no-repeat;

}
main h1 {
	font-size: 1.6em;
	font-family: gil sans, arial, Helvetica, sans-serif;
}	
main h2 {
	font-size: 1.3em;
	font-family: gil sans, arial, Helvetica, sans-serif;
}

/* Footer Formatting */
footer {
	background-color: whitesmoke;
	padding: 15px;
}
footer p {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	line-height: 1.8em;
}